.shifts-title {
    font-size: 30px;
    color: #FF4811;
    margin: 20px 0px;
}
.add-shifts {
    background-color: #FF4811;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    padding: 10px 15px;
    color: white;
}